.header-burger{
    display: none;
}
@media screen and (max-width:1025px){
    .header-burger{
        display: block;
        background-image: url(../../images/header-burger.svg);
        width: 44px;
        height: 44px;
        background-color: unset;
        border: none;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}