.techs{
    padding: 100px 70px;
    background-color: #272727;
    max-width: 1280px;
    margin: 0 auto;
}
@media screen and (max-width:1024px) and (min-width:768px){
    .techs{
        padding: 90px 50px;
    }
}
@media screen and (max-width:768px){
    .techs{
        padding: 70px 18px;
        background-color: #202020;
    }
}
.techs__caption{
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    line-height: 1.33;
    color: white;
    margin: 90px auto 26px;
    text-align: center;
}
@media screen and (max-width:1024px) and (min-width:768px){
    .techs__caption{
        margin: 80px auto 22px;
    }
}
@media screen and (max-width:768px){
    .techs__caption{
        font-size: 30px;
        margin: 89px auto 24px;
    }
}
.techs__text{
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.33;
    color: white;
    margin: 0 auto 100px;
    text-align: center;
    max-width: 460px;
}
@media screen and (max-width:1024px) and (min-width:768px){
    .techs__text{
        font-size: 12px;
        max-width: 460px;
        margin-bottom: 83px;
    }
}
@media screen and (max-width:768px){
    .techs__text{
        font-size: 11px;
        max-width: 290px;
        margin-bottom: 50px;
    }
}
.techs__list{
    list-style: none;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7,90px);
    gap: 10px;
    justify-content: center;
    padding: 0;
}
@media screen and (max-width:1024px) and (min-width:768px){
    .techs__list{
        grid-template-columns: repeat(7, 84px);
    }
}
@media screen and (max-width:768px){
    .techs__list{
        grid-template-columns: repeat(2, 84px);
    }
}
.techs__list-item{
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.33;
    color: white;
    text-align: center;
    background-color: #303030;
    border-radius: 10px;
    padding: 21px 0;
}
@media screen and (max-width:1024px){
    .techs__list-item{
        font-size: 12px;
    }
}
.title{
    font-size: 22px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.33;
    color: white;
    padding-bottom: 23px;
    border-bottom: #DADADA 1px solid;
    margin: 0;
}
@media screen and (max-width:768px){
    .title{
        font-size: 18px;
        padding-bottom: 28px;
    }
}